body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  width: 100%;
  height: 100%;
  flex: 1;
}

navbar {
  height: 25px;
}

navbar ul {
  display: flex;
  float: right;
  list-style-type: none;
  margin-right: 30px;
  margin-top: 20px;
}

navbar ul li {
  padding-left: 20px;
}

navbar ul li a {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

navbar ul li a:hover {
  text-decoration: underline;
  transition: all 0.5s ease-in-out;
}

navbar ul li a:visited {
  color: rgba(0, 0, 0, 0.87);
}

navbar #menu {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

navbar #menu:after {
  position: relative;
  top: -5px;
  content: '';
  font-size: 30px;
  opacity: 0.7;
}

navbar #menu:hover:after { 
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

navbar #avatar {
  position: relative;
  top: -7px;
  left: -3px;
}

navbar img {
  border-radius: 50%;
}

#logo-container {
  padding-top: 170px;
  margin: 0 auto;
}

.search {
  margin-top: 25px;
  position: relative;
}

.search-input {
  max-width: 600px;
  margin: 0 auto;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #DFE1E5; 
  border-radius: 25px;
  padding: 0;
  padding: 5px 8px 0 16px;
}

.form:hover {
 box-shadow: 0 4px 6px rgba(0,0,0,0.07), 0 4px 6px rgba(0,0,0,0.07);
 transition: all 0.3s ease-in-out;
}

#magnifier:after {
  position: relative;
  left: 0;
  content: '';
  font-size: 24px;
  color: #9AA0A6;
}

.form-input {
  width: 100%;
  height: 40px;
}

.form-input input {
  position: relative;
  top: 7px;
  left: 0px;
  width: 95%;
  height: 20px;
  color: #101010;
  border: none;
}

.form-input input:focus {
  outline: none;
}

#keyboard {
  position: relative;
  left: -10px;
  top: -5px;
  font-size: 25px;
  color: #202124;
}

.search-buttons {
  margin: 30px 5px;
}

.search-buttons button {
  margin: 0 5px;
  padding: 0 15px;
  background-color: #f8f9fa;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  height: 35px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.search-buttons button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  background-image: linear-gradient(top,#f8f9fa,#f8f9fa);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
  transition: all 0.3s ease-in-out;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #F2F2F2;
  border-top: 1px solid #dadce0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  padding: 0;
}

footer ul {
  list-style-type: none;
  padding: 0 10px 0 10px;
}

footer ul li a {
  font-size: 14px;
  color: #70757A;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

footer ul li a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

footer ul li a:visited {
  color: #70757a;
}
